
*{
	box-sizing: border-box;
}
a {
	text-decoration-line: none;

}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	min-height: 100vh;
	width: 100%;
	background-color: #f2f2f2;
}
button{
	background-color: teal;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 0px;
	padding: 1rem;

}

.popup-container{
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color: rgb(0,0,0,0.5);
	justify-content: center;
	align-items: center;
	display: none;
	transition:  transform 1.5s ease-in-out;
}
.popup-container.active{
	
display: flex;
}
.popup {
	background-color: #ffff;
	width: 500px;
	position: relative;
}


.popup header{
	background-color: teal;
	position: absolute;
	width: 100%;
	display: flex;
}

.popup-label{
	flex-basis: 50%;
}
.popup-label h2{
	color: #fff;
	font-size: 20px;
	margin: 10px;
}
.popup-close{
flex-basis: 50%;
text-align: right;

}

.popup-close button {
	font-size: 20px;
}

.popup-content {
  
  padding: 2rem;
  margin-top: 20px;
}


#open{
	animation-name: rollup;
	animation-duration: 3s linear;
}


@keyframes rollup{
	from {
		opacity: 0;
	}

	to {
		opacity: 7;
	}
}